<h1>Status for nick {{ person }} </h1>

<a href="../">..</a><br />

<ul>
{% for m in msgs %}
  <li>
    {{ m.msgHTML|safe }}
    <small> -- <a href="/person/{{ m.person }}">{{ m.person }}</a>, {{ m.ts|timesince }} ago in {{ m.channel }}</small>
    <!--
    (<small>
    {% for t in m.tags %}
      {% if t.url %}<a href="{{t.url}}">{{t.tag}}</a>
      {% else %} {{ t.tag }}
      {% endif %}
    {% endfor %}
    </small>)
    -->
  </li>
{% endfor %}
</ul>

<hr>
Code at <a href="https://github.com/weaselp/groupstatus"><code>https://github.com/weaselp/groupstatus</code></a>.
